@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura-Bold.eot');
    src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Bold.woff') format('woff'),
         url('../fonts/Futura-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Futura Book';
    src: url('../fonts/FuturaBT-Book.eot');
    src: url('../fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FuturaBT-Book.woff') format('woff'),
          url('../fonts/FuturaBT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Md BT';
    src: url('../fonts/FuturaBT-MediumItalic.eot');
    src: url('../fonts/FuturaBT-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FuturaBT-MediumItalic.woff') format('woff'),
         url('../fonts/FuturaBT-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Bauer Bodoni';
    src: url('../fonts/BodoniStd-Bold.eot');
    src: url('../fonts/BodoniStd-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BodoniStd-Bold.woff') format('woff'),
         url('../fonts/BodoniStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Bauer Bodoni Condensed';
    src: url('../fonts/BodoniStd-BoldCondensed.eot');
    src: url('../fonts/BodoniStd-BoldCondensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BodoniStd-BoldCondensed.woff') format('woff'),
         url('../fonts/BodoniStd-BoldCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Bauer Bodoni';
    src: url('../fonts/BauerBodoniStd-Black.eot');
    src: url('../fonts/BauerBodoniStd-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BauerBodoniStd-Black.woff') format('woff'),
         url('../fonts/BauerBodoniStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Bauer Bodoni';
    src: url('../fonts/BodoniStd-BoldItalic.eot');
    src: url('../fonts/BodoniStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BodoniStd-BoldItalic.woff') format('woff'),
         url('../fonts/BodoniStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
