$border-height: 2px;
@mixin footer {
  &-footer {
    position: absolute;
    bottom: 0;

    height: height('by_six-border');
    width: 100%;

    background: $white;
    @include border($border-height);
  }

  &-footer-projects {
    position: absolute;
    
    height: 100%;
    width: width('by_twentyFour');

   font-size: 32px;
   font-family: 'Avenir-black';

   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;

  }

  &-footer-nav {
    width: width('by_six');
    height: 100%;
    margin-left: spacing('by_twentyFour');

    background: $red;
    border-right: solid $border-height $black;
    border-left: solid $border-height $black;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }

  &-footer_arrow {
    width: width('by_two');
    height: height('by_four');

    cursor: pointer;
    transition: 0.5s ease;
  }

  &-footer_arrow-left {
    &:hover {
      transition: 0.5s ease;
      transform: translateX(-20px);
    }
  }

  &-footer_arrow-right {
    &:hover {
      transition: 0.5s ease;
      transform: translateX(20px);
    }
  }
}