$border-height: 2px;
@mixin footer {
  &-footer {
    position: absolute;
    bottom: 0;

    display: flex;

    height: height('by_six-border');
    width: width('footer');

    background: $white;
    @include border($border-height);
  }

  /*******************************
  * PROJECTS
  ********************************/

  &-footer-projects {
    position: relative;
    
    height: 100%;
    width: width('by_twentyFour');

   font-size: 26px;
   font-family: $maison_mono;

   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;

  }

  /*******************************
  * NAV
  ********************************/

  &-footer-nav {
    position: relative;
    width: width('by_six');
    height: 100%;

    border-right: solid $border-height $black;
    border-left: solid $border-height $black;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }

  &-footer_arrow {
    width: 100%;
    height: height('by_two');
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.5s ease;
  }

  /*******************************
  * NEED REFACTOR WITH VAR
  ********************************/

  &-footer_arrow-left {
    position: relative;
    margin-right: 32px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 36px 19px 0;
    border-color: transparent #000000 transparent transparent;

    display: block;
    transition: 0.5s ease;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 48px;
      top: 50%;
      transform: translateY(-50%);
      border-style: solid;
      border-width: 6px 12px 6px 0;
      border-color: transparent #000000 transparent transparent;
      display: block;
    }

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 68px;
      top: 50%;
      transform: translateY(-50%);
      border-style: solid;
      border-width: 6px 12px 6px 0;
      border-color: transparent #000000 transparent transparent;
      display: block;
    }

    &:hover {
      transform: translateX(-20px);
    }
  }

  &-footer_arrow-right {
    position: relative;
    margin-left: 32px;
    height: 0;
    border-style: solid;
    border-width: 19px 0 19px 36px;    
    border-color: transparent transparent transparent #000000;
    display: block;
    transition: 0.5s ease;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      right: 48px;
      top: 50%;
      transform: translateY(-50%);
      border-style: solid;
      border-width: 6px 0 6px 12px;    
      border-color: transparent transparent transparent #000000;
      display: block;
    }

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      right: 68px;
      top: 50%;
      transform: translateY(-50%);
      border-style: solid;
      border-width: 6px 0 6px 12px;    
      border-color: transparent transparent transparent #000000;
      display: block;
    }

    &:hover {
      transition: 0.5s ease;
      transform: translateX(20px);
    }
  }

  /*******************************
  * DESCRIPTION
  ********************************/

  &-footer-description {
    width: width('description');
    padding: 20px;

    font-family: $maison_book;
  }
}