@mixin logo{
  &-logo {
    position: absolute;
    margin-left: spacing('by_twentyFour');
    margin-top: spacing('by_twentyFour');

    max-width: 50%;

    font-family: $maison_mono;
    font-size: font-size('subtitle');
  }
}