$border-height: 2px;
@mixin playground {
  &-playground {
    position: relative;
    // background: red;

    width: width('playground');
    height: height('playground');

    @include border($border-height);
  }
}