.menu {
  position: absolute;
  width: 100%;
  height: 10vh;
  color: $darkblue;
  font-family:  "Bauer Bodoni";
  font-weight: 900;
  z-index: 10;

    &__flex {
      width:100%;
      height: 100%;
      display:flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      padding-left:5%;
    }

    &__about {
      padding-right:5%;
    }
}
