@mixin left {
  &__left {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;

    &-title {
      position: relative;
    }

    &-title-content {
      position: relative;
      width: fit-content;
    }

    &-prev-project {
      position: relative;
      width: calc(100% / 8);
      height: 100%;
      display: flex;
      border: 2px solid $black;
      text-decoration: none;
      color: black;

      display: flex;
      justify-content: center;
      align-items: center;

      padding-top: 10%;

      &:hover div {
        opacity: 1;
      }
    }

    &-prev-icon {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      opacity: 0;
      transition: .5s ease;
    }

    &-prev-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 20px 15px 0;
      border-color: transparent $black transparent transparent;
    }

    &-prev-text {
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-size: font-size('subtitle');
      font-family: $maison_mono;
      letter-spacing: .5rem;
    }

/*******************************
* VOLET TRANSITION
********************************/

    &-title-volet {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &-prev-volet {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

/*******************************
* ELEMENTS
********************************/

    &-elements {
      position: relative;
      width: calc(100% - (100% / 6));
      height: 100%;
      display: flex;
      flex-flow: column;
      padding-left: spacing('medium');
    }

    &-elements-content {
      display: flex;
      flex-flow: column;
      height: 50%;
      justify-content: flex-end;
    }

/*******************************
* COUNTER
********************************/

    &-counter {
      border: 2px solid black;
      width: fit-content;
      padding: spacing('small');
    }

    &-counter p {
      font-size: 26px;
      font-family: $maison_mono;
      text-align: center;
    }

/*******************************
* NAVIGATION ARROW
********************************/

    &-nav {
      display: flex;
    }

    &-arrow {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      transition: 0.5s ease;
    }

    &-arrow:first-child {
      margin-right: spacing('xxmedium');
    }

/*******************************
* DESCRIPTION
********************************/

    &-desc {
      position: relative;

      font-size: font-size('subtitle');
      padding-top: spacing('large');
      font-family: $maison_mono;
      line-height: 1.5;
    }
  }
}