@mixin middle {
  &__middle {
    width: 50%;
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;

    padding-right: spacing('medium');

    &-website-text {
      z-index: 1;
      padding: 2px;
    }

    &-photo {
      position: relative;
      max-width: 600px;
      max-height: 400px;
      border: 2px solid black;
      // fix bug with flex-end
      padding: 2px;
    }

    &-photo-volet {
      position: absolute;
      top: 0;
      left: 0;
      // fix bug with flex-end
      width: calc(100% - 1px);
      height: 100%;
    }

    &-photo img {
      width: 100%;
      // fix bug with flex-end
      padding: 2px;
    }

/*******************************
* BUTTON SEE WEBSITE
********************************/

    &-website {
      position: absolute;
      bottom: spacing('large');
      width: 20%;
      height: 10vh;
      font-family: $maison_mono;
      color: $white;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 2px solid black;
      margin: 2px;
      cursor: pointer;
      transition: .5s ease;

      &:hover {
        transition: .5s ease;
        color: $black;
      }
    }

    &-website-volet {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}