@mixin right {
  &__right {
    width: 10%;
    height: 100%;

    display: flex;
    flex-flow: column;

/*******************************
* REFACTOR WITH CSS VAR FOR ANIMATING
********************************/
    &-nav {
      width: 50%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      font-size: font-size('subtitle');
      font-family: $maison_mono;
      text-align: center;
      // @include colorful-list;

      border-left: 2px solid black;
      border-bottom: 2px solid black;
    }

    &-nav a {
      padding: 10px 10px 10px 10px;
      width: 80%;
      line-height: 1.1;
      text-decoration: none;
      color: $black;
      cursor: pointer;

      &:hover {
        color: $white;
        transition: 0.5s ease;
      }
    }

    &-nav h3 {
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-size: font-size('subtitle');
      font-family: $maison_mono;
      letter-spacing: .5rem;
    }

/*******************************
* ABOUT
********************************/

    &-about {
      height: 10%;
      width: 100%;
      transition: .5s ease;
      z-index: 10;
    }

    &-about h3 {
      font-size: font-size('subtitle');
      font-family: $maison_mono;
      cursor: pointer;
    }

    &-title{
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 10;
      cursor: pointer;
      transition: .5s ease;

      border: 2px solid $black;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        transition: .5s ease;
        background: $black;
        color: $white;
      }
    }


/*******************************
* CONTENT ABOUT
********************************/

&-about-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
}

&-about-description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

&-about-text {
  max-width: 50%;
  color: $white;
  font-size: font-size('subtitle');
  font-family: $maison_mono;
  line-height: 1.3;
}

&-about-text p {
  text-align: center;
  padding: spacing('small');
}

&-about-made {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: spacing('small');

  display: flex;
  justify-content: space-around;

  color: $white;
  font-size: font-size('subtitle');
  font-family: $maison_mono;
}

&-about-made svg {
  max-width: 32px;
}
&-about-made:last-child {
  display: flex;
}

&-github {
  max-width: 32px;
  transition: .5s ease;
  cursor: pointer;
  fill: $black;

  &:hover {
    transition: .5s ease;
    fill: $white;
  }
}


/*******************************
* MENU
********************************/

    &-menu {
      display: flex;
      width: 100%;
      height: 90%;
    }

    &-menu-content {
      position: absolute;
      width: 100vw;
      height: 100vh;
      bottom: 0;
      right: 10%;

      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      z-index: 2;
    }

    &-menu-content a {
      position: relative;
      color: $white;
      font-size: font-size('subtitle');
      font-family: $maison_mono;
      line-height: 1.3;
      text-decoration: none;
      padding: spacing('small');
      transition: width .5s ease;

      &:before {
        content: '';
        transition: width .5s ease;
        position: absolute;
        width: 0;
        height: 1px;
        background: $white;
        bottom: 0;
        left: 0;
      }

      &:hover {
        transition: width .5s ease;
        &:before {
          content: '';
          transition: width .5s ease;
          position: absolute;
          width: 100%;
          height: 1px;
          background: $white;
          bottom: 0;
          left: 0;
        }
      }
    }

/*******************************
* SWITCH PROJECT
********************************/

    &-next-volet {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &-next-project {
      position: relative;
      width: 50%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      border: 2px solid black;
      border-top: none;

      text-decoration: none;
      color: black;

      &:hover div{
        opacity: 1;
      }
    }

    &-next-icon {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      opacity: 0;
      transition: .5s ease;
    }

    &-next-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 20px;
      border-color: transparent transparent transparent $black;
    }

    &-next-text {
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-size: font-size('subtitle');
      font-family: $maison_mono;
      letter-spacing: .5rem;
    }
  }
}