@mixin right {
  &__right {
    width: 10%;
    height: 100%;

    display: flex;
    flex-flow: column;

/*******************************
* REFACTOR WITH CSS VAR FOR ANIMATING
********************************/
    &-nav {
      width: 50%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      font-size: font-size('subtitle');
      font-family: $maison_mono;
      text-align: center;
      // @include colorful-list;

      border-left: 2px solid black;
      border-bottom: 2px solid black;
    }

    &-nav a {
      padding: 10px 10px 10px 10px;
      width: 80%;
      line-height: 1.1;
      text-decoration: none;
      color: $black;
      cursor: pointer;

      &:hover {
        color: $white;
        transition: 0.5s ease;
      }
    }

    &-nav h3 {
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-size: font-size('subtitle');
      font-family: $maison_mono;
      letter-spacing: .5rem;
    }

    &-about {
      height: 10%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $black;
    }

    &-about h3 {
      font-size: font-size('subtitle');
      font-family: $maison_mono;
      cursor: pointer;
    }

    &-menu {
      display: flex;
      width: 100%;
      height: 90%;
    }

    &-next-project {
      width: 50%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      border: 2px solid black;
      border-top: none;
    }
  }
}