.container {
    &__button {
        position: absolute;
        height: 10%;
        width: 100%;
        font-family: "Futura";
        font-weight: bold;
        font-size: 21px;
        color: $darkblue;
        transition: 0.7s ease;

        &--open {
            position: absolute;
            bottom: -5%;
            left: 0;
            border: 1px solid $lightblue;
            cursor: pointer;
            width: 50%;
            text-align: center;
            z-index: 1;
            transition: 0.5s ease;

            &:hover {
                box-shadow: 0 0 1px $lightblue;

                p {
                    opacity: 0.5;
                }
            }
        }
    }

    &__box {
        bottom: 5%;

        &--none {
            display: none;
        }

        &--prev {
            position: absolute;
            padding-left: 5px;
            padding-right: 5px;
            left: 5%;
            border: 1px solid $darkblue;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 1px $darkblue;
                border: 1px solid $lightblue;

                p {
                    opacity: 0.5;
                }
            }
        }

        &--next {
            position: absolute;
            padding-left: 5px;
            padding-right: 5px;
            right: 5%;
            border: 1px solid $darkblue;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 1px $darkblue;
                border: 1px solid $lightblue;

                p {
                    opacity: 0.5;
                }
            }
        }
    }

    &__arrow {
        transition: 0.7s ease;
        opacity: 1;

        &--none {
            display: none;
        }

        &--hide-prev {
            position: absolute;
            top: 50%;
            transform: translateX(-270%);
            left: 5%;
        }

        &--hide-next {
            position: absolute;
            top: 50%;
            transform: translateX(270%);
            right: 5%;
        }

        &--prev {
            position: absolute;
            top: 50%;
            transform: translateX(-50%);
            left: 5%;
            cursor: pointer;
        }

        &--next {
            position: absolute;
            top: 50%;
            transform: translateX(-50%);
            right: 5%;
            cursor: pointer;
        }
    }
}
