body {
  padding: 0;
  margin:0;
}

p {
  font-family: "Futura Book";
  font-size:1.09vw;
  color: $darkblue;
}

h2 {
  font-family: "Bauer Bodoni";
  font-weight: bold;
  color:$darkblue;
  font-size:45px;
}

h3 {
  font-family: "Bauer Bodoni Condensed";
  font-weight: bold;
  color:$darkblue;
  font-size:21px;
}
