///
/// Application-wide widths map
///
/// @type Map
///
/// @prop {String} key - Type of the width
/// @prop {Map} value - Width value
///
///
/// 2px = width of the border
// playground + 4px = to fix the width of the border
$widths: (
  'playground': calc(100% - ( (100% / 10) + (100% / 24)) + 4px),
  'footer': calc(100% - (100% / 24) + 4px),
  'description': calc(100% - ((100% / 6) + (100% / 24))),
  'by_twentyFour': calc(100% / 24),
  'by_twelve': calc(100% / 12),
  'by_ten': calc(100% / 10),
  'by_height': calc(100% / 8),
  'by_six': calc(100% / 6),
  'by_two': calc(100% / 2)
) !default;


///
/// Application-wide heights map
///
/// @type Map
///
/// @prop {String} key - Type of the height
/// @prop {Map} value - Height value
///
///
///
/// 2px = height of the border
$heights: (
  'playground': calc(100% - (100% / 6)),
  'by_twelve': calc(100% / 12),
  'by_twelve-border': calc((100% / 12) + 2px),
  'by_ten': calc(100% / 10),  
  'by_eight-border': calc((100% / 8) + 2px),
  'by_six': calc(100% / 6),
  'by_six-border': calc((100% / 6) + 2px),
  'by_four': calc(100% / 4),
  'by_two': calc(100% / 2)
) !default;

///
/// Application-wide spacing map
///
/// @type Map
///
/// @prop {String} key - Identifier of the spacing
/// @prop {Map} value - Spacing value
///
///
/// 2px = width of the border
$spacing: (
  'xsmall': 5px,
  'small': 10px,
  'smallx': 15px,
  'medium': 20px,
  'xmedium': 25px,
  'xxmedium': 20px,
  'mediumx': 30px,
  'mediumxx': 35px,
  'large': 40px,
  'largex': 50px,
  'xlarge': 60px,
  'xxlarge': 80px,
  'xxxlarge': 100px,
  'by_twentyFour-border': calc((100% / 24) - 2px),
  'by_twentyFour': calc(100% / 24)
) !default;