@mixin title($color) {
  font-family: $avenir_b;
  font-size: font-size('subtitle');
  font-weight: font-weight('title');
  color: $color;
}

@mixin subtitle($color) {
  font-family: $museo;
  font-size: font-size('subtitle');
  font-weight: font-weight('title');
  color: $color;
}

@mixin regular_text($color) {
  font-family: $museo;
  font-size: font-size('regular');
  font-weight: font-weight('regular');
  color: $color;
}

@mixin strong_text($color) {
  font-family: $museo;
  font-size: font-size('regular');
  font-weight: font-weight('bold');
  color: $color;
}

@mixin border($height) {
  border: solid $height $black;
}