@mixin subtitle($color) {
  font-family: $museo;
  font-size: font-size('subtitle');
  font-weight: font-weight('title');
  color: $color;
}

@mixin regular_text($color) {
  font-family: $museo;
  font-size: font-size('regular');
  font-weight: font-weight('regular');
  color: $color;
}

@mixin strong_text($color) {
  font-family: $museo;
  font-size: font-size('regular');
  font-weight: font-weight('bold');
  color: $color;
}

@mixin price-list-selected($color) {
  position: relative;
  padding-left: spacing('mediumx');
  padding-right: spacing('medium');
  padding-top: spacing('small');
  padding-bottom: spacing('small');
  margin-bottom: spacing('xsmall');
  @include subtitle($grey-dark);
  transition: 0.5s ease;
  background: $color;
  color: $white;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 9px;
    border-color: transparent transparent transparent $color;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin price-list-selected-color($color) {
  background: $color;
  color: $white;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 9px;
    border-color: transparent transparent transparent $color;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin price-list($color) {
  li {
    position: relative;
    padding-left: spacing('mediumx');
    padding-right: spacing('medium');
    padding-top: spacing('small');
    padding-bottom: spacing('small');
    margin-bottom: spacing('xsmall');
    background-color: $grey;
    @include subtitle($grey-dark);
  }

  li:last-child {
   margin: 0;
  }

  li:hover {
    transition: 0.5s ease;
    background: $color;
    color: $white;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 0 9px 9px;
      border-color: transparent transparent transparent $color;
      right: -9px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@mixin basic-styling-list($color) {
  li {
    position: relative;
    padding-left: spacing('mediumx');
    padding-bottom: spacing('xsmall');
    @include regular_text($color);

    &:before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      left: 0;
      top: 4px;
      transform: rotate(45deg);
      background-color: $color;
    }
  }

  li:last-child {
    padding-bottom: 0;
  }
}

@mixin child($n, $color) {
  &:nth-child(#{$n}){
    background-color: $color;

    &:after {
      border-color: transparent transparent transparent $color;
    }
  }
}

@mixin colorful-list {
  li:hover {
    $indexs: 2, 3, 4, 5, 6;
    $colors: $foot-color, $golf-color, $equitation-color, $basket-color, $multisport-color;

    @for $i from 1 through length($indexs) {
      $index: nth($indexs, $i);
      $color: nth($colors, $i);
        @include child($index, $color)
    }
  }
}

@mixin colorful-list-paris-est {
  li {
    $indexs: 1, 2, 3, 4, 5;
    $colors: $tennis-color, $golf-color, $equitation-color, $foot-color, $multisport-color;
    
    @for $i from 1 through length($indexs) {
      $index: nth($indexs, $i);
      $color: nth($colors, $i);
        @include child($index, $color)
    }
  }
}

@mixin colorful-list-paris-ouest {
  li {
    $indexs: 2, 3, 4, 5, 6;
    $colors: $tennis-color, $golf-color, $equitation-color, $basket-color, $multisport-color;
    
    @for $i from 1 through length($indexs) {
      $index: nth($indexs, $i);
      $color: nth($colors, $i);
        @include child($index, $color)
    }
  }
}

@mixin colorful-list-nimes {
  li {
    $indexs: 1, 2;
    $colors: $equitation-color, $foot-color;
    
    @for $i from 1 through length($indexs) {
      $index: nth($indexs, $i);
      $color: nth($colors, $i);
        @include child($index, $color)
    }
  }
}

@mixin colorful-price-classname {

  $class: 'tennis', 'foot', 'golf', 'equitation', 'basket', 'multisport';
  $colors: $tennis-color, $foot-color, $golf-color, $equitation-color, $basket-color, $multisport-color;

  @for $i from 1 through length($class) {
    $name: nth($class, $i);
    $color: nth($colors, $i);
    .school-fees_price-desktop .selected-name-#{$name} {
      @include price-list-selected-color($color);
    }
  }
}

@mixin basic-styling-list-with-padding($top, $padding) {
  li {
    position: relative;
    padding-bottom: $padding;
    padding-left: spacing('mediumxx');
    @include regular_text($blue);

    &:before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      left: 0;
      top: $top;
      transform: rotate(45deg);
      background-color: $blue;
    }
  }
}
