@mixin title($color) {
  font-family: $avenir_b;
  font-size: font-size('subtitle');
  font-weight: font-weight('title');
  color: $color;
}

@mixin subtitle($color) {
  font-family: $museo;
  font-size: font-size('subtitle');
  font-weight: font-weight('title');
  color: $color;
}

@mixin regular_text($color) {
  font-family: $museo;
  font-size: font-size('regular');
  font-weight: font-weight('regular');
  color: $color;
}

@mixin strong_text($color) {
  font-family: $museo;
  font-size: font-size('regular');
  font-weight: font-weight('bold');
  color: $color;
}

@mixin border($height) {
  border: solid $height $black;
}

@mixin child($n, $color) {
  &:nth-child(#{$n}) h3 {
    color: $color;
    transition: 0.5s ease;

    // &:after {
    //   border-color: transparent transparent transparent $color;
    // }
  }
}

@mixin boolean($i) {

}

@mixin colorful-list {
  a:hover {
    $indexs: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
    $colors: $red, $yellow, $blue, $red, $yellow, $blue, $red, $yellow, $blue, $red;

    @for $i from 1 through length($indexs) {
      $index: nth($indexs, $i);
      $color: nth($colors, $i);
        @debug "$boolean is #{$index + 1}";
        @include child($index, $color)
    }
  }
}