// Basics //
@import 'basics/reset';
@import 'basics/fonts';

// Variables //
@import 'vars/functions';
@import 'vars/breakpoints';
@import 'vars/layout';
@import 'vars/typography';
@import 'vars/colors';
@import 'vars/mixin';

@import 'basics/global';

// Layout //
@import 'layout/new_default';

* {
  box-sizing: border-box;
}

.bg-yellow {
  transition: 0.5s ease;
  background: $yellow;
}

.bg-blue {
  transition: 0.5s ease;
  background: $blue;
}