@font-face {
  font-family: 'Avenir-black';
  src: url('~/assets/fonts/avenir_black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
  font-family: 'Avenir-heavy';
  src: url('~/assets/fonts/avenir_heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
  font-family: 'Avenir-medium';
  src: url('~/assets/fonts/avenir_medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

$avenir_b: 'Avenir-black';
$avenir_h: 'Avenir-heavy';
$avenir_m: 'Avenir-medium';
