@font-face {
  font-family: 'Montserrat-black';
  src: url('~/assets/fonts/avenir_black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

// @font-face {
//   font-family: 'Museo';
//   src: url('../font/MuseoSans500.otf') format('otf'),
//        url('../font/MuseoSans-500.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Museo';
//   src: url('../font/MuseoSans_900.otf') format('otf'),
//        url('../font/MuseoSans-900.ttf') format('truetype');
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Museo';
//   src: url('../font/MuseoSans_300.otf') format('otf'),
//        url('../font/MuseoSans-300.ttf') format('truetype');
//   font-weight: 300;
//   font-style: normal;
// }
