.bonjour-red {
  background:$red;
}

.bonjour-yellow {
  background: $yellow;
}

.bonjour-blue {
  background: $blue;
}

.txt-red {
  transition: 0.5s ease;
  color: $red;
}

.txt-yellow {
  transition: 0.5s ease;
  color: $yellow;
}

.txt-blue {
  transition: 0.5s ease;
  color: $blue;
}

.title {
  font-size: font-size('title');
  font-family: $eksell;
  white-space: nowrap;

  margin-top: spacing('large');
}

.logo {
    position: absolute;
    left: 5%;
    height: 10%;

    padding-left: spacing('medium');

    font-family: $maison_mono;
    font-size: font-size('subtitle');

    display:flex;
    align-items: center;
}

.logo a {
  text-decoration: none;
  z-index: 10;
  color: $black;
}

.transition-page {
  width: 90%;
  height: 100%;
  position: absolute;
  right: 10%;
  z-index: 100;
}