.bonjour-red {
  transition: 0.5s ease;
  background:$red;
}

.bonjour-yellow {
  transition: 0.5s ease;
  background: $yellow;
}

.bonjour-blue {
  transition: 0.5s ease;
  background: $blue;
}

.txt-red {
  transition: 0.5s ease;
  color: $red;
}

.txt-yellow {
  transition: 0.5s ease;
  color: $yellow;
}

.txt-blue {
  transition: 0.5s ease;
  color: $blue;
}